<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
    <!--listeners>
        <listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"></listener>
    </listeners-->
    <test name="Android">
        <parameter name="deviceName" value="emulator-5554" />
        <parameter name="udid" value="emulator-5554" />
        <parameter name="platformVersion" value="12.0" />
        <parameter name="url" value="http://0.0.0.0:4723/wd/hub" />
        <parameter name="appPackage" value="com.google.android.calculator" />
        <parameter name="appActivity" value="com.android.calculator2.Calculator" />
        <classes>
            <!--class name="tests.AndroidCalculator"/>-->
            <class name="runner.AllFeaturesRunner" />
        </classes>
    </test>
</suite>