<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
    <test name="Android">
        <parameter name="deviceName" value="emulator-5554" />
        <parameter name="udid" value="emulator-5554" />
        <parameter name="platformVersion" value="12.0" />
        <parameter name="url" value="http://0.0.0.0:4724/wd/hub" />
        <parameter name="appPackage" value="com.facebook.katana" />
        <parameter name="appActivity" value=".LoginActivity" />
        <classes>
            <class name="runner.AllFeaturesRunner" />
        </classes>
    </test>
</suite>